*workspace

*.log
*.sql

.idea
.tgitconfig
node_modules/*
vendor/*

www/search-and-replace

www/.htaccess
www/.well-known/*
www/license.txt
www/readme.html
www/sitemap.xml
www/sitemap.xml.gz

www/wp-admin
www/wp-content/*
!www/wp-content/themes
www/wp-includes 